@import "compass/css3";
@import "compass/reset";

@import "compass/utilities";
@import "compass/typography";

@import "core/definitions";
@import "core/fonts";
@import "core/mediaqueries";
@import "core/base";

@import "core/silence_class";
@import "core/mixin";

@include reset-html5;

/*******
* Sprite
*******/
//Nombre de la carpeta: sprite
$sprite-layout: smart;
$sprite-sprite-dimensions: true;
@import "sprite/*.png";
@include all-sprite-sprites;

/*******
* General
*******/
body {
    @include font(100%);
    background-color: $color1;
    color: $color2;
}

p {
    @include font(szrem(14), $font2, normal, normal, 1.4rem);
    color: $color9;
}

b {
    color: inherit;
    font: {
        family : inherit;
        size   : inherit;
        weight : bold;
    }
}


/* END general
********************** */

.hidden_text         { @include ht2; }
.show                { display: block !important;} 

.container_main {
    @include aa($brp1 + px);
    margin: 0 auto;
    display: block;

    @include brp($brp1) {
        width: 100%;
    }
}

.secondary_container {
    @include aa($brp2 + px);
    display: block;
    margin: 0 auto;

    @include brp($brp2) {
        width: 100%;
    }
}

header {
    @include text(center);
    margin-top: 38px !important;

    .logo {
        display: inline-block;
        vertical-align: middle;
        margin-right: 60px;

        @include brp($brp2) {
            margin-right: 0;
        }

        .logo_url {
            @include icon-sprite(logo);
            @include ht2;
            display: block;
            cursor: pointer;
        }
    }

    .main_menu {
        vertical-align: middle;
        display: inline-block;
        margin: 0 30px;

        @include brp($brp2) {
            margin: 0 20px;
        }

        @include brp(589) {
            margin: 15px 20px 0;
        }

        .main {
            ul {
                li {
                    @include position();
                    display: inline-block;
                    margin-right: 40px;

                    @include brp($brp2) {
                        margin-right: 20px;
                    }

                    &:last-child { margin-right: 0; }

                    a {
                        @include text(left, uppercase);
                        @include font(szrem(20));
                        color: $color3;

                        @include brp($brp2) {
                            font-size: szrem(15);
                        }

                        @include brp(345) {
                            font-size: szrem(12);
                        }

                        &:hover { color: lighten($color3, 10%); }
                    } 

                    > ul {
                        @include position(absolute, 30px);
                        @include aa(135px);
                        @include box-shadow(5px 6px 11px -2px $color8);
                        border: 1px solid $color8;
                        background-color: $color4;
                        text-align: left;
                        padding: 18px 15px;
                        display: none;
                        z-index: 10;

                        &:after {
                            @extend %arrow;
                            border-bottom-color: $color4;
                            border-width: 19px;
                            margin-left: -20px;
                            bottom: 90%;
                        }

                        &:before {
                            @extend %arrow;
                            border-bottom-color: $color8;
                            border-width: 12px;
                            margin-left: -13px;
                        }

                        li {
                            margin-right: 0;
                            margin-bottom: 5px;

                            &:last-child { margin-bottom: 0; }
                           
                            a {
                                @include text(left, uppercase);
                                @include font(szrem(14));

                                @include brp(345) {
                                    font-size: szrem(12);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .search {
        @include aa(200px);
        vertical-align: middle;
        box-sizing: border-box;
        display: inline-block;
        clear: both;

        @include brp(795) {
            margin-top: 15px;
        }

        input[type=search] {
            @include no-border;
            @include aa(175px, 25px);
            @include font(szrem(12), $font2, normal, 300);
            background-color: $color4;
            padding: 0 5px;
            color: $color3;
            display: block;
            float: left;

            @include input-placeholder {
                @include font(szrem(12), $font2, normal, 300);
                color: $color3;
            }

            @include brp(795) {
                margin-top: 0;
            }
        }

        button {
            @include icon-sprite(search);
            @include no-border;
            @include ht2;
            background-color: $color6;
            cursor: pointer;
            display: block;
            color: $color1;
            float: right;

            @include brp(795) {
                margin-top: 0;
            }
        }
    }
}

.secondary_menu {
    @include aa(100%, 35px);
    padding-top: 25px;
    background-color: $color3;
    color: $color1;

    @include brp(900) {
        @include aa(100%, 70px);
    }

    @include brp(555) {
        height: 85px;
    }

    @include brp(400) {
        height: 110px;
    }

    nav {
        @include brp(1040) {
            padding-left: 10px;
        }

        @include brp(900) {
            @include aa(620px, 18px);
            margin: 0 auto;
        }

        @include brp(637) {
            width: 538px;
        }

        @include brp(555) {
            width: 85%;
            padding-left: 0;
            margin: {
                bottom: 25px;
                top   : -20px;
            }
        }

        @include brp(400) {
            width: 80%;
        }

        ul {
            li {
                float: left;
                margin-right: 35px;

                @include brp(555) {
                    @include columns-builder(3, 2%);
                    text-align: center;
                    margin-top: 10px;
                }

                @include brp(400) {
                    @include columns-builder(2, 2%);
                }

                &:last-child { margin-right: 0; }

                a {
                    @include text(left, uppercase);
                    color: $color1;

                    @include brp(637) {
                        font-size: szrem(13);
                    }

                    &:hover { color: lighten($color3, 70%); }
                }
            }
        }
    }

    .social_media {
        @include position(relative, -4px);
        display: inline-block;
        float: right;

        @include brp(1040) {
            padding-right: 10px;
        }

        @include brp(900) {
            float: none;
            width: 247px;
            margin: 10px auto 0;
            display: block;
            top: auto;
        }

        @include brp(555) {
            @include aa(176px, 26px);
            margin: 49px auto 0;
            padding: 0;
        }

        @include brp(400) {
            margin: 76px auto 0;
        }

        p {
            @include font(szrem(13), $font2);
            color: $color1;
            display: inline-block;
            margin-right: 10px;
            padding-top: 1px;
            float: left;

            @include brp(555) {
                display: none;
            }
        }

        a {
            display: inline-block;
            float: left;
            margin-right: 5px;

            &:last-child { margin-right: 0; }
        }

        .twitter     { @include icon-sprite(twitter); }
        .facebook    { @include icon-sprite(facebook); }
        .youtube     { @include icon-sprite(youtube); }
        .linkedin    { @include icon-sprite(linkedin); }
        .google_plus { @include icon-sprite(google_plus); }
        .rss         { @include icon-sprite(rss); }
    }
}

.container_slider {
    @include position();
    margin-top: 40px;

    .slider_tool {
        @include position(absolute, 35%);
        @include aa(100%);
        @include cf;
        z-index: 10;

        @include brp($brp3) {
            top: 20%;
        }

        .prev {
            @include icon-sprite(arrow_left);
            display: block;
            float: left;
            cursor: pointer;

            @include brp(600) {
                @include transform(scale(0.5));
            }
        }

        .next {
            @include icon-sprite(arrow_right);
            display: block;
            float: right;
            cursor: pointer;

            @include brp(600) {
                @include transform(scale(0.5));
            }
        }
    }

    #slider {
        @include position();
        @include cf;
        height: 445px;

        @include brp($brp1) {
            height: 0;
            padding-bottom: 34.2%;
        }

        #slider_2 {
            .headers {

                @include brp(591) {
                    top: 31px;
                }

                h3 {
                    @include brp(1188) {
                        margin-top: 10px;
                    }

                    @include brp(591) {
                        display: none;
                    }
                }
            }
        }

        #slider_3 {
            .headers {
                top: 0;
                right: 125px;

                @include brp($brp3) {
                    right: 70px;
                }
            }
        }

        .slider_item {
            @include position(absolute);
            z-index: 1;

            &.active {
                z-index: 2;

                .headers {
                    @extend %transition_slider_active;
                    z-index: 2;
                }

                img { @extend %transition_slider_active; }
            }

            img {
                @extend %transition_slider;
                display: block;
            }

            .headers {
                @include position(absolute, 80px, 100px, top, right);
                @include aa(455px);
                @extend %transition_slider;
                z-index: 1;

                @include brp(923) {
                    top: 40px;
                    right: 72px;
                }

                @include brp(616) {
                    top: 0;
                    right: 56px;
                }

                @include brp($brp4) {
                    right: 41px;
                }

                h1 {
                    @include text(right, uppercase);
                    @include font(szrem(60), $font1, bold);
                    color: $color5;
                    letter-spacing: -3px;
                    margin-bottom: -13px;

                    @include brp(1188) {
                        font-size: szrem(47);
                    }

                    @include brp(752) {
                        font-size: szrem(32);
                    }

                    @include brp($brp3) {
                        font-size: szrem(24);
                    }
                }

                h2 {
                    @include text(right, uppercase);
                    @include font(szrem(60), $font2);
                    letter-spacing: -3px;
                    color: $color3;

                    @include brp(1188) {
                        font-size: szrem(44);
                    }

                    @include brp(752) {
                        margin-top: 8px;
                        font-size: szrem(31);
                    }

                    @include brp($brp3) {
                        font-size: szrem(21);
                    }
                }

                h3 {
                    @include text(right, uppercase);
                    @include font(szrem(20), $font2, 300);
                    color: $color5;
                    letter-spacing: -1px;

                    @include brp(1188) {
                        font-size: szrem(15);
                    }

                    @include brp(752) {
                        font-size: szrem(13);
                    }

                    @include brp($brp3) {
                        font-size: szrem(10);
                    }
                }

                a {
                    @include text(center, uppercase);
                    @include font(szrem(20), $font2);
                    background-color: $color6;
                    padding: 8px 16px 8px 19px;
                    color: $color1;
                    cursor: pointer;
                    display: inline-block;
                    float: right;
                    margin-top: 35px;

                    @include brp(1188) {
                        margin-top: 18px;
                    }

                    @include brp(752) {
                        font-size: szrem(15);
                    }
                    
                    &:after {
                        @include icon-sprite(arrow_link);
                        display: inline-block;
                        margin-left: 5px;
                        content: "";
                    }
                }
            }
        }
    }
}

.pre_footer {
    @include aa(100%);
    background-color: $color4;
    padding-bottom: 35px;

    @include brp($brp2) {
        padding-left: 2%;
        width: 98%;
    }

    @include brp(850) {
        padding-bottom: 0;
    }

    .columns {
        @include cf;
        padding-top: 30px;
        margin-top: 30px;

        .column {
            @include columns-builder(6, 0);

            @include brp(850) {
                @include columns-builder(3, 0);
                min-height: 225px;
            }

            @include brp(470) {
                @include columns-builder(2, 0);
            }

            h3 {
                @include font(szrem(18));
                color: $color5;
                border-bottom: 1px solid $color8;
                display: block;
                padding-bottom: 10px;
                margin-bottom: 18px;
            }

            ul {
                li {
                    margin-bottom: 10px;

                    a {
                        @include text(left);
                        @include font(szrem(14), $font2);
                        @include aa(86%);
                        display: block;
                        color: $color7;

                        &:hover { color: darken($color7, 20%); }
                    }
                }
            }
        }
    }
}

footer {
    @include aa(100%, 30px);
    background-color: $color9;
    padding: {
        top: 25px;
        bottom: 10px;
    }

    p {
        @include text(center);
        color: $color1;
    }
}

main {
    margin-bottom: 40px;

    &.features {
        .columns {
            @include cf;
            margin-top: 30px;

            .column {
                @include columns-builder(3, 0, 2%, 100%, 1%);
                min-height: 295px;
                border-right: 1px solid $color8;

                @include brp(614) {
                    float: none;
                    width: 96%;
                    margin-top: 30px;
                    padding-bottom: 20px;
                    border: {
                        right: 0 none transparent;
                        bottom: 1px solid $color8;
                    }

                    &:last-child {
                        border-bottom: 0 none transparent;
                    }
                }

                &:last-child {
                    border-right: 0 none transparent;
                }

                h1 {
                    @include text(center);
                    @include font(szrem(27), $font2);
                    margin-bottom: 30px;
                    color: $color3; 
                }

                .module_features {
                    @include brp($brp2) {
                        img { @include aa(100%); }
                    }
                }

                .description {
                    @include text(center);
                    
                    @include brp(614) {
                        font-size: szrem(18);
                    }

                    @include brp($brp3) {
                        font-size: szrem(14);
                    }

                    b { color: $color3;}
                }

                .video {
                    img { @include aa(100%); }

                    p {
                        @include text(center, uppercase);
                        @include font(szrem(12), $font2);
                        color: $color3;
                        margin-top: 10px;

                        @include brp(614) {
                            font-size: szrem(18);
                        }

                        @include brp($brp3) {
                            font-size: szrem(14);
                        }
                    }
                }
            }
        }
    }
}
