//-----------------------------------
//Clases silenciosas
//-----------------------------------
%arrow {
    @include position(absolute, 100%, 24%, bottom);
    @include aa(0, 0);
    border: solid transparent;
    content: " ";
    pointer-events: none; 
}

%transition_slider {
    @include aa(100%);
    @include transform(scale(1.5));
    @include opacity(0.3);
    @include transition(all 150ms ease-in-out);
    zoom: 1;
}

%transition_slider_active {
    @include opacity(1);
    @include transform(scale(1));
}
//-----------------------------------
//Fin Clases silenciosas
//-----------------------------------
